*{
    box-sizing: border-box;
    margin: 0;
}


.main{
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    margin: 0 auto;
    .bg-header{
        width: 100%;
        min-height:61px;
        background-color: #02918c;
    }
}

header{
    min-height:61px;
    width: 1170px;
    
    h1{
        color: #cfc91d;
        font-family: "Open Sans";
        font-size: 26px;
        line-height: 60px;
        
    }

}

#navbarNavAltMarkup{
        a{
            text-decoration: none;
            color: #ffffff;
            font-family: "Open Sans";
            font-size: 12px;
            font-weight: 400;
        }
            
     }

.incididunt{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 728px;
    opacity: 0.9;
    background-image: url("../img/incididunt.png");
    .info-incididunt{
        // width: 926px;
        // height: 136px;
        @media all and (max-width:940px){
            width: 100%;
            margin-bottom: 100px;
        }

       :nth-child(1){
            text-align: center;
            color: #ffffff;
            font-family: "Open Sans";
            font-size: 30px;
            @media all and (max-width:405px){
                font-size: 18px;
            }
       }
       :nth-child(2){
           text-align: center;
            color: #ffffff;
            font-family: "Open Sans";
            font-weight: bold;
            font-size: 68px;
            letter-spacing: 20.4px;
            line-height: 75px;
            text-transform: uppercase;
            @media all and (max-width:615px){
                text-align: center;
                color: #ffffff;
                font-family: "Open Sans";
                font-size: 30px;
            }
            @media all and (max-width:405px){
                font-size: 18px;
            }
       }
       :nth-child(3){
            text-align: center;
            font-family: "Open Sans";
            color: #ffffff;
            line-height: 33px;
            font-size: 18px;
       } 
    }
    .label-incididunt{
        width: 108px;
        height: 25px;
        margin-top: 100px;
    }
    .btn-incididunt{
        display: flex;
        justify-content: center;
        width: 196px;
        height: 47px;
        background-color: #cfc91d;
        margin-top: 52px;
        a{
            text-decoration: none;
            color: #0b1016;
            font-family: "Open Sans";
            font-size: 14px;
            font-weight: bold;
            line-height: 47px;
            text-transform: uppercase;
            letter-spacing: 2.1px;
        }
    }
}

.about_me{
    width:100% ;
    min-height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .about_me_info{
        display: flex;
        flex-direction: column;
        text-align: center;
        width:875px ;
        min-height:50% ;
        @media all and (max-width:1150px){  
            width: 100%;
        }
        h2{
            color: #02918c;
            font-family: "Open Sans";
            font-size: 46px;
            font-weight: bold;
            text-transform: uppercase;
            padding-top: 90px;
        }
        span{
            margin-top: 30px;
            color: #7e8287;
        }
        p{
            margin-top: 30px;
            color: #7e8287;
            font-family: "Open Sans";
            font-size: 15px;
            font-weight: 400;
            line-height: 40px;
            margin-bottom: 75px;
        }
    }
    .about_box{
        width: 1100px;
        columns: 4;
        column-rule: 1px solid #7e8287;
        column-gap: 90px;
        text-align: center;
        margin-bottom: 70px;
        @media all and (max-width:1150px){
            columns: 2;
            column-gap: 45px;
            width: 100%;
        }
        img{
            margin: 40px 0 30px;
        }
        h4{
            margin-bottom: 30px;
            color: #7e8287;
            font-family: "Open Sans";
            font-size: 16px;
            font-weight: 700;
            line-height: 23px;
        }
        p{
            margin-bottom: 40px;
            color: #7e8287;
            font-family: "Open Sans";
            font-size: 11px;
            font-weight: 400;
            line-height: 21px;
        }
    }
    
}


.services{
    display: flex;
    width:100%;
    min-height: 728px;
    .servis_left{
        min-height: 728px;
        width: 50%;
        background-image: url("../img/Bg.png");
        padding: 0 70px 0;
        @media all and (max-width:1195px){
            width: 75%;
        }
        @media all and (max-width:800px){
            width: 100%;
        }
        .servis_left_title{
            h2{
                color: #02918c;
                font-family: "Open Sans";
                font-size: 46px;
                font-weight: bold;
                padding-top: 75px;
                margin-bottom: 15px;
            }
            span{
                color: #7e8287;
                font-family: "Open Sans";
                font-size: 16px;
                font-weight: 400;
                line-height: 41px;
            }
            p{
                margin: 15px 0 60px;
                color: #7e8287;
                font-family: "Open Sans";
                font-size: 16px;
                font-weight: 400;
                line-height: 41px;
            }
        }
        .servis_left_content{
            display: flex;
            flex-wrap: wrap;
            .box_servis{
                width: 50%;
                padding-right: 70px;
                h4{
                    margin: 10px 0 15px;
                    color: #7e8287;
                    font-family: "Open Sans";
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 23px;
                }
                p{
                    color: #7e8287;
                    font-family: "Open Sans";
                    font-size: 11px;
                    font-weight: 400;
                    line-height: 21px;
                    margin-bottom: 50px;
                }
            }
        }
        
    }
    .servis_right{
        height: 728px;
        width: 50%;
        background-image: url("../img/Image_services.png");
        @media all and (max-width:1195px){
            width: 25%;
        }
        @media all and (max-width:800px){
            display: none;
        }
    }
}

.my_work{
    width: 100%;
    min-height: 700px;
    display: flex;
    flex-wrap: wrap;
    .my_work_title{
        display: flex;
        width: 100%;
        text-align: center;
        align-items: center;
        flex-direction: column;
        h2{
            color: #02918c;
            font-family: "Open Sans";
            font-size: 46px;
            font-weight: bold;
            margin: 80px 0 15px;
        }
        span{
            color: #7e8287;
            font-family: "Open Sans";
            font-size: 16px;
            font-weight: 400;
            line-height: 41px;
        }
        p{
            width: 670px;
            color: #7e8287;
            font-family: "Open Sans";
            font-size: 16px;
            font-weight: 400;
            line-height: 41px;
            margin: 15px 0 80px;
            @media all and (max-width:675px){
                width: 75%;
            }
        }
    }
    .my_foto{
        width: 100%;

        .my_foto_box{
            display: flex;
            flex-wrap: wrap;
            @media all and (max-width:1300px){
                justify-content: center;
            }
            .foto-border{
                position: relative;
                .my_foto_info{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content:space-evenly;
                    position: absolute;
                    top: 50%;
                    right: 50%;
                    transform: translate(50%, -50%);
                    width: 266px;
                    height: 196px;
                    background-color: #02918c;
                    opacity: 0;
                    &:hover{
                        opacity: 0.85;
                    }
                    h2{
                        text-align: center;
                        width: 122px;
                        height: 17px;
                        color: #ffffff;
                        font-family: "Open Sans";
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 23px;
                    }
                    p{
                        text-align: center;
                        width: 190px;
                        height: 55px;
                        color: #ffffff;
                        font-family: "Open Sans";
                        font-size: 13px;
                        font-weight: 400;
                        line-height: 21px;
                    }
                }  
            }
        }
    }
}



.contact_me{
    width: 100%;
    min-height: 700px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 100px;
    .contact_me_title{
        display: flex;
        width: 100%;
        text-align: center;
        align-items: center;
        flex-direction: column;
        h2{
            color: #02918c;
            font-family: "Open Sans";
            font-size: 46px;
            font-weight: bold;
            margin-bottom:15px;
        }
        span{
            color: #7e8287;
            font-family: "Open Sans";
            font-size: 16px;
            font-weight: 400;
            line-height: 41px;
        }
        p{
            width: 670px;
            color: #7e8287;
            font-family: "Open Sans";
            font-size: 16px;
            font-weight: 400;
            line-height: 41px;
            margin: 15px 0 80px;
            @media all and (max-width:690px){
                width: 100%;
            }
        }
    }
    .contact_me_form{
        width: 1280px;
        height: 565px;
        background-color: #0b0b0b;
        padding-top: 70px;
        form{
            display: flex;
            align-items: center;
            flex-direction: column;
            #firstName{
                width: 637px;
                height: 30px;
                color: #7e8287;
                font-family: "Open Sans";
                font-size: 16px;
                font-weight: 400;
                line-height: 41px;
                background-color: #0b0b0b;
                display: block;
                border-color: transparent transparent #7e8287 transparent;
                text-align: center;
                @media all and (max-width:965px){
                    width: 100%;
                }
            }
            #userEmail{
                width: 637px;
                height: 30px;
                color: #7e8287;
                font-family: "Open Sans";
                font-size: 16px;
                font-weight: 400;
                line-height: 41px;
                background-color: #0b0b0b;
                display: block;
                border-color: transparent transparent #7e8287 transparent;
                text-align: center;
                margin-top: 70px;
                @media all and (max-width:965px){
                    width: 100%;
                }
            }
            .message{
                width: 917px;
                height: 30px;
                color: #7e8287;
                font-family: "Open Sans";
                font-size: 16px;
                font-weight: 400;
                line-height: 41px;
                background-color: #0b0b0b;
                display: block;
                border-color: transparent transparent #7e8287 transparent;
                text-align: center;
                margin-top: 70px;
                @media all and (max-width:965px){
                    width: 100%;
                }
            }
            #button{
                width: 200px;
                height: 50px;
                background-color: #cfc91d;
                border-color: transparent;
                font-family: "Open Sans";
                font-size: 16px;
                font-weight: 400;
                line-height: 41px;
                display: block;
                text-align: center;
                margin-top: 70px;
            }

        }
    }
}
form{
    label{
        display: flex;
        flex-direction: column;
        width: 75%;
        align-items: center;
    }
}

footer{
    width: 1280px;
    height: 79px;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    p{
        width: 65px;
        height: 9px;
        color: #7e8287;
        font-family: "Open Sans";
        font-size: 12px;
        font-weight: 400;
        line-height: 41px;
        text-transform: uppercase;
    }
}